<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @user.uuid %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Id card:</strong>
  <%= @user.id_card %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Address line one:</strong>
  <%= @user.address_line_one %>
</p>

<p>
  <strong>Address line two:</strong>
  <%= @user.address_line_two %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong>Credential:</strong>
  <%= @user.credential_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
